<nav>
    <div class="menu">
        <a href="#">Menu</a>
        <div class="menu-items">
            <ul>
                <li><a href="{{url_for('dashboard')}}">Home</a></li>
                <li><a href="{{url_for('automaticmeasurement')}}">Automatic measurement</a></li>
                <li><a href="{{url_for('meters')}}">Meters</a></li>
                <li><a href="{{url_for('concentrators')}}">Concentrators</a></li>
                <li><a href="{{url_for('pointofdelievery')}}">Point of delievery</a></li>
                <li><a href="{{url_for('systemnotification')}}">System notification</a></li>
                <li><a href="{{url_for('alarms')}}">Alarms and Events</a></li>
                <li><a href="{{url_for('meterauto')}}">Meter auto detect</a></li>
                <li><a href="{{url_for('statuslog')}}">Status log</a></li>
                <li><a href="{{url_for('automaticmeter')}}">Automatic Meter Reading</a></li>
                <li><a href="{{url_for('singlemeter')}}">Single meter reading</a></li>
                <li><a href="{{url_for('concentratormeterreading')}}">Concentrator meter reading</a></li>
                <li><a href="{{url_for('schedulereading')}}">Schedule reading</a></li>
                <li><a href="{{url_for('readingondemand')}}">Reading on demand</a></li>
                <li><a href="{{url_for('manualmeter')}}">Manual meter reading</a></li>
                <li><a href="{{url_for('readingpersonal')}}">Reading personal</a></li>
                <li><a href="{{url_for('readingequipment')}}">Reading equipement</a></li>
                <li><a href="{{url_for('historyofchanges')}}">History od changes</a></li>
                <li><a href="{{url_for('pointofdelieverymeter')}}">Point of delievery meter</a></li>
                <li><a href="{{url_for('consumermeter')}}">Consumer meter</a></li>
                <li><a href="{{url_for('concentratormeter')}}">Concentrator meter</a></li>
                <li><a href="{{url_for('hierarchiesorganization')}}">Hierarchies organizations</a></li>
                <li><a href="{{url_for('definitionstructures')}}">Definition structures</a></li>
                <li><a href="{{url_for('overviewstructure')}}">Overview structure</a></li>
                <li><a href="{{url_for('assignmentelements')}}">Assignment elements</a></li>
                <li><a href="{{url_for('meterassignment')}}">Meter assignment</a></li>
                <li><a href="{{url_for('concentratorassignment')}}">Concentrator assignment</a></li>
                <li><a href="{{url_for('pointofdelieveryassignment')}}">Point of delievery assignment</a></li>
                <li><a href="{{url_for('energyconsumers')}}">Energy Consumers</a></li>
                <li><a href="{{url_for('listconsumers')}}">List consumers</a></li>
                <li><a href="{{url_for('modifyconsumers')}}">Modify consumers</a></li>
                <li><a href="{{url_for('addconsumer')}}">Add new consumer</a></li>
                <li><a href="{{url_for('editconsumer')}}">Edit consumer</a></li>
                <li><a href="{{url_for('reports')}}">Reports</a></li>
            </ul>
        </div>
    </div>
</nav>